//- Project

- const projectName = "Pug Sass Ts Template"

//- Company

- const companyName = "Company Name"

//- Path

- const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

- const navLinks = []

//- Data

//- Cards

//- Items

//- Sections
